---
layout: default_home
---

<div class="home">

  {{ content }}


  <h2 class="post-list-heading">{{ page.list_title | default: "My Reflections" }}</h2>
  <ul class="post-list">
  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <a class="post-link" href="{{ post.url | relative_url }}">
           {{ post.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    {%- endif -%}

	<li><a href="https://www.linkedin.com/pulse/brief-history-machine-learning-dr-jaideep-ganguly" target="_blank">A Brief History of Machine Learning</a></li>
	<li><a href="https://www.linkedin.com/feed/update/urn:li:activity:6522136329810210816" target="_blank">Functional Programming - Design through Functional Composition and Monads</a></li>
	<li><a href="https://www.linkedin.com/pulse/machine-learning-grand-challenge-dr-jaideep-ganguly" target="_blank">Machine Learning and the Grand Challenge</a></li>

	<!-- <li><a href="assets/evolution_of_ml.pdf" target="_blank">Evolution of Machine Learning</a></li> -->
	<li><a href="assets/great_teams.html" target="_blank">Great Teams</a></li>
 	<li><a href="assets/tech_tenets.html" target="_blank">Tech Tenets</a></li>
 	<li><a href="assets/kotlin-vs-java.html" target="_blank">Kotlin vs Java</a></li>
 	<li><a href="assets/kotlin_cookbook.pdf" target="_blank">Kotlin Cookbook - Jaideep Ganguly</a></li>
 	<li><a href="assets/perils_of_concurrency.html" target="_blank">Perils of Concurrency</a></li>
 	<li><a href="assets/java_scala.html" target="_blank">Interoperability - Java calling Scala</a></li>
 	<li><a href="assets/interesting_posts.html" target="_blank">Some Interesting Posts</a></li>


</ul>
</div>
